<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Registrarse</h3>
                        <form action="#" th:action="@{/register/newregister}" th:object="${usuario}" method="post" >
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" id="nombre" name="nombre" class="form-control p_input">
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
<!--                                <input type="text" th:field="*{apellido}" class="form-control p_input">-->
                                <input type="text" id="apellido" name="apellido" class="form-control p_input">
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
<!--                                <input type="email" th:field="*{correo}"class="form-control p_input">-->
                                <input type="email" id="correo" name="correo" class="form-control p_input">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Recordarme </label>
                                </div>
                                <a href="#" class="forgot-pass">Olvido su contraseña</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Registrarme</button>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-facebook col mr-2">
                                    <i class="mdi mdi-facebook"></i> Facebook </button>
                                <button class="btn btn-google col">
                                    <i class="mdi mdi-google-plus"></i> Google plus </button>
                            </div>
                            <p class="sign-up text-center">Ya tiene una cuenta?<a href="/login"> Ingresar</a></p>
                            <p class="terms">Creando una cuenta acepta los terminos y condiciones<a href="#"> Terminos & Condiciones</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>